{% extends 'mugenjigoku/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<h1>
    {% if object %}
    Hengi
    {% else %}
    Shingi
    {% endif %}
</h1>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-4">
        {{ form.wazamoku|as_crispy_field }}
        </div>
    </div>
    {{ form.toi|as_crispy_field }}
    {{ form.kai1|as_crispy_field }}
    {{ form.kai2|as_crispy_field }}
    {{ form.kai3|as_crispy_field }}
    <button type="submit" class="btn btn-success">
    {% if object %}
    Hengi
    {% else %}
    Shingi
    {% endif %}
    </button>
</form>
{% endblock %}