{% extends 'izanamijinja/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>Welcome to Izanami Jinja...!</h1>
    <div class="row">
        <div class="col">
            <script>var kata_lst_length = {{ kata_lst|length }}</script>
            <div id="katalst">
                {% for kata in kata_lst %}
                <div class="card" style="margin:5px">
                    <h5 class="card-header">{{ kata.ryugi }}</h5>
                    <div class="card-body">
                        <p>{{ kata.kataki }}</p>
                        <div v-show="getShow('{{ forloop.counter0 }}')" style="margin-bottom: 20px;">
                            <p><i>Rendo: {{ kata.get_rendo_display }}</i></p>
                            <div v-show="isBlank('{{ kata.waza1 }}')" class="input-group" style="margin-bottom: 3px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="waza1-addon">Waza1</span>
                                </div>
                                <input disabled value="{{ kata.waza1 }}" type="text" class="form-control"
                                    aria-label="Waza1" aria-labelledby="waza1-addon">
                            </div>
                            <div v-show="isBlank('{{ kata.waza2 }}')" class="input-group" style="margin-bottom: 3px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="waza2-addon">Waza2</span>
                                </div>
                                <input disabled value="{{ kata.waza2 }}" type="text" class="form-control"
                                    aria-label="Waza2" aria-labelledby="waza2-addon">
                            </div>
                            <div v-show="isBlank('{{ kata.waza3 }}')" class="input-group" style="margin-bottom: 3px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="waza3-addon">Waza3</span>
                                </div>
                                <input disabled value="{{ kata.waza3 }}" type="text" class="form-control"
                                    aria-label="Waza3" aria-labelledby="waza3-addon">
                            </div>
                        </div>
                        <button v-on:click="shousai('{{ forloop.counter0 }}')" type="button" class="btn btn-info">Shousai</button>
                        <a href="{% url 'izanamijinja:kataaratame' kata.id %}" class="btn btn-success"
                            role="button">Aratame</a>
                        <a href="{% url 'izanamijinja:muyou' kata.id %}" class="btn btn-danger" role="button">Muyou</a>
                    </div>
                </div>
                {% empty %}
                <a>No Kata</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <form class="card p-2" method="post" action="{% url 'izanamijinja:index' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="shin_ryugi_mei" class="form-control" placeholder="Ryugi">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary" name="act" value="soushi">Soushi</button>
                    </div>
                </div>
            </form>
            </form>
            <form method="post" action="{% url 'izanamijinja:index' %}">
                {% csrf_token %}
                <div class="nav flex-column nav-pills bg-light" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    {% if ryugi_lst %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="checked_ryugis" value="-1">
                            </div>
                            <a class="nav-link" id="v-pills-all-tab" href="{% url 'izanamijinja:index' %}"
                                aria-controls="v-pills-all" aria-selected="false">all</a>
                        </div>
                    </div>
                    {% endif %}
                    {% for ryugi in ryugi_lst %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="checked_ryugis" value="{{ ryugi }}">
                            </div>
                            <a class="nav-link" id="v-pills-'{{ ryugi }}'-tab"
                                href="{% url 'izanamijinja:filteredindex' ryugi.id %}"
                                aria-controls="v-pills-'{{ ryugi }}'" aria-selected="false">{{ ryugi }}</a>
                            <!-- <a class="nav-link" id="v-pills-'{{ ryugi }}'-tab" data-toggle="pill"
                                href="#v-pills-'{{ ryugi }}'" role="tab" aria-controls="v-pills-'{{ ryugi }}'"
                                aria-selected="false">{{ ryugi }}</a> -->
                        </div>
                    </div>
                    {% empty %}
                    <a class="nav-link disabled" id="v-pills-empty-tab" data-toggle="pill" href="#v-pills-empty"
                        role="tab" aria-controls="v-pills-empty" aria-selected="false">No Ryugi</a>
                    {% endfor %}
                    <!-- <div class="tab-content" id="v-pills-tabContent">
                        {% for ryugi in ryugi_lst %}
                        <div class="tab-pane fade" id="v-pills-'{{ ryugi }}'" role="tabpanel"
                            aria-labelledby="v-pills-'{{ ryugi }}'-tab"></div>
                        {% empty %}
                        <div class="tab-pane fade" id="v-pills-empty" role="tabpanel"
                            aria-labelledby="v-pills-empty-tab">
                        </div>
                        {% endfor %}
                    </div> -->
                </div>
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-danger" name="act" value="shitsuden">Shitsuden</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'izanamijinja/js/index.js' %}"></script>
{% endblock %}