{% extends 'izanamijinja/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>Welcome to Izanami Jinja...!</h1>
    <div class="row">
        <div class="col">

        </div>
        <div class="col-4">
            <form class="card p-2" method="post" action="{% url 'izanamijinja:index' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="shin_ryugi_mei" class="form-control" placeholder="Ryugi">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success" name="act" value="soushi">Soushi</button>
                    </div>
                </div>
            </form>
            <form method="post" action="{% url 'izanamijinja:index' %}">
                {% csrf_token %}
                <div class="nav flex-column nav-pills bg-light" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    {% for ryugi in ryugi_lst %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="checked_ryugis" value="{{ ryugi }}">
                            </div>
                            <a class="nav-link" id="v-pills-'{{ ryugi }}'-tab" data-toggle="pill"
                                href="#v-pills-'{{ ryugi }}'" role="tab" aria-controls="v-pills-'{{ ryugi }}'"
                                aria-selected="false">{{ ryugi }}</a>
                        </div>
                    </div>
                    {% empty %}
                    <a class="nav-link disabled" id="v-pills-empty-tab" data-toggle="pill" href="#v-pills-empty"
                        role="tab" aria-controls="v-pills-empty" aria-selected="false">No Ryugi</a>
                    {% endfor %}
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    {% for ryugi in ryugi_lst %}
                    <div class="tab-pane fade" id="v-pills-'{{ ryugi }}'" role="tabpanel"
                        aria-labelledby="v-pills-'{{ ryugi }}'-tab"></div>
                    {% empty %}
                    <div class="tab-pane fade" id="v-pills-empty" role="tabpanel" aria-labelledby="v-pills-empty-tab">
                    </div>
                    {% endfor %}
                </div>
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-danger" name="act" value="shitsuden">Shitsuden</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}