{% extends 'izanamijinja/base.html' %}

{% load static %}

{% block content %}
{{ shiren_dct|json_script:"shiren_obj" }}
<script>
    var zanshin_url = "{% url 'izanamijinja:zanshin' %}"
</script>
<div id="shiren">
    <div v-show="showshirengroup">
        <h1>Shiren ([[ kazu + 1 ]]/[[ tekikazu ]])</h1>
        <div class="row">
            <div class="col-7">
                <div class="card">
                    <div class="card-header">
                        [[ kata.ryugi_na ]]
                    </div>
                    <div class="card-body">
                        <h5>[[ kata.kataki ]]</h5>
                        <p><i>Rendo: [[ kata.rendo ]]</i></p>
                        <div v-show="isBlank(kata.waza1)" class="input-group" style="margin-bottom: 10px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="waza1-addon">Waza1</span>
                            </div>
                            <input v-model="zan1" type="text" class="form-control" placeholder="waza1"
                                aria-label="Waza1" aria-describedby="waza1-addon">
                        </div>
                        <div v-show="isBlank(kata.waza2)" class="input-group" style="margin-bottom: 10px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="waza2-addon">Waza2</span>
                            </div>
                            <input v-model="zan2" type="text" class="form-control" placeholder="waza2"
                                aria-label="Waza2" aria-describedby="waza2-addon">
                        </div>
                        <div v-show="isBlank(kata.waza2)" class="input-group" style="margin-bottom: 20px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="waza3-addon">Waza3</span>
                            </div>
                            <input v-model="zan3" type="text" class="form-control" placeholder="waza3"
                                aria-label="Waza3" aria-describedby="waza3-addon">
                        </div>
                        <button v-on:click="zan()" v-bind:class="zanbtnclass" type="button">[[ zanbtnlabel ]]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div v-show="!showshirengroup">
            <h2>Zanshin -残心- (Seikou [[ seikousu ]]/[[ tekikazu ]])</h1>
            <div class="row">
            <div class="col-7">
                <div v-for="(kata, index) in tekishu">
                    <div class="card" style="margin:5px">
                        <div class="card-header">
                            [[ kata.ryugi_na ]] ([[ index + 1 ]] / [[ tekikazu ]])
                        </div>
                        <div class="card-body">
                            <h5>[[ kata.kataki ]]</h5>
                            <p><i>Rendo: [[ kata.rendo ]] [[ showmigaki(kata.migaki) ]]</i></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</div>
<script src="{% static 'izanamijinja/js/shiren.js' %}"></script>
{% endblock %}