{% extends 'izanamijinja/base.html' %}

{% load static %}

{% block content %}
<h1>Zenshin -前心-</h1>
<form method="post" action="{% url 'izanamijinja:shiren' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="ryugi-select">Ryugi</label>
                <select class="form-control" id="ryugi-select" name="ryugi_id" required>
                    {% if ryugi_lst %}
                    <option value="-1">all</option>
                    {% else %}
                    <option disabled>No Ryugi</option>
                    {% endif %}
                    {% for ryugi in ryugi_lst %}
                    <option value="{{ ryugi.id }}">{{ ryugi }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="tekikazu-select">Tekikazu</label>
                <select class="form-control" id="tekikazu" name="tekikazu">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                </select>
            </div>
            <div class="form-group">
                <label for="rendo-select">Rendo</label>
                <select multiple class="form-control selectpicker" id="rendo-select" name="rendo" required>
                    <option selected value="-1">all</option>
                    <option value="0">Mijuku</option>
                    <option value="1">Bon</option>
                    <option value="2">Jukuren</option>
                </select>
            </div>
            <button type="submit" class="btn btn-danger">Shiren Hajime</button>
        </div>
    </div>
</form>
{% endblock %}